<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>优秀作品上传列表</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css"/>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
		#cheer{
			height: 40px;
			line-height: 40px;
			border: 1px solid gainsboro;
		}
		#resourcetable{
			width: 100%;
		}
		#resourcetable tr{
			height: 40px;
		}
		#resourcetable tr td{
			padding: 5px;
			border: 1px solid gainsboro;
			text-align: center;
		}
		#uploadResourceList{
			overflow:scroll;
			overflow-x:hidden
		}
		#delete{
			border: 0px;
			background: transparent;
			color: gray;
		}
    </style>
</head>
<body>
	<div class="layui-col-md12" id="uploadResourceList">
		<table id="resourcetable">
			<tr>
				<th>
					<i class="layui-icon layui-icon-template" style="font-size: 15px; color: gray;"></i>
					藏品列表
				</th>
			</tr>
			<tr>
				<th>藏品ID</th>
				<th>藏品名字</th>
				<th>收藏时间</th>
				<th>操作</th>
			</tr>
			<tr v-for="(item,index) of list">
				<td align="center">{{item.resourceId}}</td>
				<td><a @click="swiitchover(index)">{{item.collectName}}</a></td>
				<td>{{item.collectTime}}</td>
				<td><button id="delete" @click="deleteResource(index);">删除</button></td>
			</tr>
		</table>
	</div>
</body>
<script>
	var userName = "";
	var userId = 0;
	$(function(){
		userName = $("#useName",window.parent.document).val();
		getUserId(userName);
		
		resourceList.getList();
	})
		
	function getUserId(userName){
		$.ajax({
			type:"get",
			url:"http://localhost:8080/lenrn/user/getUserByName?userName="+userName,
			async:false,
			success:function(data){
				userId = data.userId;
			},
			error:function(){
				alert("未连接到服务器!");
			}
		});
	}
	
	var resourceList = new Vue({
		el:"#resourcetable",
		data:{
			list:[
				{
					"resourceId":0,
					"collectName":"",
					"collectTime":""
				}
			]
		},
		methods:{
			getList:function(){
				$.ajax({
					type:"GET",
					contentType:"application/josn",
					url:"http://localhost:8080/lenrn/collect/fingByuserId?userId="+userId,
					dataType:'json',
					success:function(data){
						if(data.length==0){
							$("#resourcetable").hide();
							alert("没有收藏任何作品");
							return;
						}
						resourceList.list.splice(1);
                        resourceList.$set(resourceList.list,0,data[0]);
                        for(var i=1;i<data.length;i++){
                            resourceList.list.splice(i,0,data[i]);
                        }
					},
                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    }
				})
			},
			deleteResource:function(index){
				var _self = this;
				var exhibitionId = _self.list[index].exhibitionId;
				var data1 = {
					"exhibitionId":exhibitionId
				};
				$.ajax({
					type:"POST",
					contentType:"application/json",
					url:"http://localhost:8080/lenrn/exhibition/delete",
					data:JSON.stringify(data1),
					dataType:"json",
					success:function(){
						alert("删除成功！");
					},
                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                    }
				});
				resourceList.list.splice(index,1);
			},
            swiitchover:function (index) {
                var _self = this;
                var Id = _self.list[index].resourceId;
                var Name = "";
                var Createtime = "";
                var Downloads = "";
                var uploaderId = "";
                var resourceAddress = "";
                
                $.ajax({
                	type:"get",
                	url:"http://localhost:8080/lenrn/resource/getById?resourceId="+Id,
                	async:true,
                	success:function(data){
                		Name = data.resourceName;
                		Createtime = data.resourceCreatetime;
                		Downloads = data.resourceDownloads;
                		uploaderId = data.uploaderId;
                		resourceAddress = data.resourceAddress;
                	},
                	error:function(){
                		alert("连接错误");
                	}
                });
                
                
                var hr = "details.html?Id="+Id+"&Name="+Name+"&Createtime="+Createtime+"&Downloads="+Downloads
                		+"&uploaderId="+uploaderId+"&resourceAddress="+resourceAddress;
            	hr = encodeURI(hr);
            	window.open(hr,"_parent");
            }
		}
	})
	
</script>
</html>
