<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>优秀作品上传列表</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css"/>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
	#cheer{
		height: 40px;
		line-height: 40px;
		border: 1px solid gainsboro;
	}
	#resourcetable{
		width: 100%;
	}
	#resourcetable tr{
		height: 40px;
	}
	#resourcetable tr td{
		padding: 5px;
		border: 1px solid gainsboro;
		text-align: center;
	}
	#uploadResourceList{
		overflow:scroll;
		overflow-x:hidden
	}
	#delete,#alter{
		border: 0px;
		background: transparent;
		color: gray;
	}
	#delete:hover,#alter:hover{
		color: blue;
	}	
	.input1{
		height: 30px;
		border: 0px;
		text-align: center;
		background: transparent;
	}
</style>
</head>
<body>
	<div class="layui-col-md12" id="uploadResourceList">
		<table id="resourcetable">
			<tr>
				<th>
					<i class="layui-icon layui-icon-template" style="font-size: 15px; color: gray;"></i>
					作品列表
				</th>
			</tr>
			<tr>
				<th>作品ID</th>
				<th>作品名字</th>
				<th>作品描述</th>
				<th>上传者ID</th>
				<th>操作</th>
			</tr>
			<tr v-for="(item,index) of list">
				<td><input class="input1" type="text" v-bind:value="item.exhibitionId" disabled="disabled" /></td>
				<td><input class="input1" type="text" v-bind:value="item.exhibitionName" /></td>
				<td><input class="input1" type="text" v-bind:value="item.exhibitionDescription" /></td>
				<td><input class="input1" type="text" v-bind:value="item.userId" /></td>
				<td>
					<button id="alter" @click="Alterlist(index);">更改</button>
					<button id="delete" @click="deleteResource(index);">删除</button>
				</td>
			</tr>
		</table>
	</div>
</body>
<script>
	var userName = "";
	var userId = 0;
	$(function(){
		userName = $("#useName",window.parent.document).val();
		getUserId(userName);
		resourceList.getList();
	})
		
	function getUserId(userName){
		$.ajax({
			type:"get",
			url:"http://localhost:8080/lenrn/user/getUserByName?userName="+userName,
			async:false,
			success:function(data){
				userId = data.userId;
			},
			error:function(){
				alert("未连接到服务器!");
			}
		});
	}
	
	var resourceList = new Vue({
		el:"#resourcetable",
		data:{
			list:[
				{
					"exhibitionId":0,
					"exhibitionName":"",
					"exhibitionDescription":"",
					"userId":0,
					"exhibitionContent":''
				}
			]
		},
		methods:{
			getList:function(){
				$.ajax({
					type:"GET",
					contentType:"application/josn",
					url:"http://localhost:8080/lenrn/exhibition/getAll",
					dataType:'json',
					success:function(data){
						if(data.length==0){
							$("#resourcetable").hide();
							alert("暂时没有任何作品");
							return;
						}
						resourceList.list.splice(1);
                        resourceList.$set(resourceList.list,0,data[0]);
                        for(var i=1;i<data.length;i++){
                            resourceList.list.splice(i,0,data[i]);
                        }
					},
                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    }
				})
			},
			deleteResource:function(index){
				var _self = this;
				var exhibitionId = _self.list[index].exhibitionId;
				var data1 = {
					"exhibitionId":exhibitionId
				};
				$.ajax({
					type:"POST",
					contentType:"application/json",
					url:"http://localhost:8080/lenrn/exhibition/delete",
					dataType:"json",
					success:function(){
						alert("删除成功！");
					},
                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                    }
				});
				resourceList.list.splice(index,1);
			},
            Alterlist:function(index){
	 			var start = index*4;
	 			var end = (index+1)*4;
	 			
	 			var _self = this;
	 			var exhibitionId = _self.list[index].exhibitionId;
	 			var exhibitionName = $('.input1')[start+1].value;
	 			var exhibitionDescription = $('.input1')[start+2].value;
	 			var userId = $('.input1')[start+3].value;
	 			var exhibitionContent = _self.list[index].exhibitionContent;
	 			var data1 = {
	 				"exhibitionId":exhibitionId,
	 				"exhibitionName":exhibitionName,
	 				"exhibitionDescription":exhibitionDescription,
	 				"userId":userId,
	 				"exhibitionContent":exhibitionContent
	 			};
	 			$.ajax({
	 				type:"POST",
	 				contentType:"application/json",
	 				url:"Http://localhost:8080/lenrn/exhibition/update",
	 				data:JSON.stringify(data1),
	 				async:true,
	 				dataType:"json",
	 				success:function(data){
	 					alert("更改成功！");
	 				},
                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    }
	 			});
	 		}
		}
	})
	
</script>
</html>
