<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ccsu.dao.UserMapper">

	<!-- public User queryUserByName(@Param("name") String name) -->
	<select id="queryUserByName" resultType="cn.ccsu.entity.User">
		select * from user
		<where>
			<if test="name != null">
				userName = #{name}
			</if>
		</where>
	</select>

	<!-- public void addUser(User user) -->
	<insert id="addUser">
		INSERT INTO user(userName,password,email,tel,nickName)
		VALUES
		(#{userName},#{password},#{email},#{tel},#{nickName})
	</insert>

</mapper>
