<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ColorServlet</servlet-name>
    <servlet-class>com.yf.servlet.ColorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.yf.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryProCMS</servlet-name>
    <servlet-class>com.yf.servlet.QueryProCMS</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StockinServlet</servlet-name>
    <servlet-class>com.yf.servlet.StockinServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StockindetServlet</servlet-name>
    <servlet-class>com.yf.servlet.StockindetServlet</servlet-class>
  </servlet>

 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StockoutServlet</servlet-name>
    <servlet-class>com.yf.servlet.StockoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StockoutDet</servlet-name>
    <servlet-class>com.yf.servlet.StockoutDet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ColorServlet</servlet-name>
    <url-pattern>/ColorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryProCMS</servlet-name>
    <url-pattern>/QueryProCMS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StockinServlet</servlet-name>
    <url-pattern>/StockinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StockindetServlet</servlet-name>
    <url-pattern>/StockindetServlet</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>StockoutServlet</servlet-name>
    <url-pattern>/StockoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StockoutDet</servlet-name>
    <url-pattern>/StockoutDet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
